@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  background-image: url(../img/fondo.jpg);
  width: 100%;
  /*header*/
  /*footer*/ }
  body a {
    text-decoration: none; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #fce8cf; }
  body h2 {
    font-size: 50px;
    text-align: center;
    background-color: black; }
  body h3 {
    font-size: 35px;
    text-align: center;
    background-color: black; }
  body p {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #fce8cf;
    font-size: 20px; }
  body header {
    background-color: black; }
    body header .wip_logo {
      padding-left: 1rem; }
    body header .navRight {
      display: flex;
      justify-content: flex-end;
      padding-right: 25px; }
    body header nav a {
      color: #f9fab6;
      transition: 0.5s; }
      body header nav a:hover {
        color: #f1ff70;
        background-color: rgba(104, 104, 104, 0.5);
        border-radius: 5px; }
  body footer {
    border-top: 3px solid #fce8cf;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 20px;
    /*redes*/ }
    body footer h5 {
      font-size: 14px;
      padding-top: 20px;
      padding-bottom: 20px; }
    body footer .redes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 7%;
      padding-bottom: 20px; }
    body footer .direcciones p {
      color: #fce8cf;
      font-size: small;
      text-align: center; }

/*body*/
@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0; }
  body section {
    /*sponsors*/ }
    body section .sponsors {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body section .sponsors .spon {
        margin: 1rem; } }

.parallax-carreras, body section .paralax-1, body section .paralax-2, body section .paralax-3 {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  transition: all 1.5s ease;
  background-color: rgba(27, 95, 148, 0.5);
  opacity: 0.5; }
  .parallax-carreras h3, body section .paralax-1 h3, body section .paralax-2 h3, body section .paralax-3 h3 {
    top: 0;
    font-size: 50px;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-out;
    visibility: visible;
    text-align: center; }
  .parallax-carreras:hover, body section .paralax-1:hover, body section .paralax-2:hover, body section .paralax-3:hover {
    opacity: 1; }
    .parallax-carreras:hover h3, body section .paralax-1:hover h3, body section .paralax-2:hover h3, body section .paralax-3:hover h3 {
      background-color: rgba(27, 95, 148, 0.5);
      text-shadow: 0 0 2em #1b5f94, 0 0 0.2em #1b5f94; }

.titulos1, .cuerpo-diseño h1, body .fondo-graf h1, body .fondo-multi h1, body .fondo-web h1, .cuerpo-diseño .carta-ux .carta-inicio h2, body .fondo-graf .carta-ux .carta-inicio h2, body .fondo-multi .carta-ux .carta-inicio h2, body .fondo-web .carta-ux .carta-inicio h2, body .fondo-imagenInicio .carta-inicio h1, body .somos h1, body section h1 {
  color: #154b74;
  text-align: center;
  background-color: #f1ff70; }

.titulos2, body .somos .subtitulo, body section .subtitulo, body .descrip h3, body section div .modales h4 {
  text-align: center;
  background-color: black; }

.cuerpo-diseño, body .fondo-graf, body .fondo-multi, body .fondo-web {
  margin-top: 110px;
  margin-bottom: 150px;
  height: 737px; }
  .cuerpo-diseño h1, body .fondo-graf h1, body .fondo-multi h1, body .fondo-web h1 {
    font-size: 65px; }
  .cuerpo-diseño .carta-ux, body .fondo-graf .carta-ux, body .fondo-multi .carta-ux, body .fondo-web .carta-ux {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 200px; }
    .cuerpo-diseño .carta-ux .carta-inicio, body .fondo-graf .carta-ux .carta-inicio, body .fondo-multi .carta-ux .carta-inicio, body .fondo-web .carta-ux .carta-inicio {
      background-color: black;
      box-shadow: 10px 10px rgba(27, 95, 148, 0.5); }
      .cuerpo-diseño .carta-ux .carta-inicio h2, body .fondo-graf .carta-ux .carta-inicio h2, body .fondo-multi .carta-ux .carta-inicio h2, body .fondo-web .carta-ux .carta-inicio h2 {
        font-size: 35px;
        box-shadow: 3px 3px rgba(241, 255, 112, 0.5); }
      .cuerpo-diseño .carta-ux .carta-inicio .btn_mio, body .fondo-graf .carta-ux .carta-inicio .btn_mio, body .fondo-multi .carta-ux .carta-inicio .btn_mio, body .fondo-web .carta-ux .carta-inicio .btn_mio {
        background-color: #f1ff70;
        color: #154b74;
        border: 2px solid #f1ff70; }
        .cuerpo-diseño .carta-ux .carta-inicio .btn_mio:hover, body .fondo-graf .carta-ux .carta-inicio .btn_mio:hover, body .fondo-multi .carta-ux .carta-inicio .btn_mio:hover, body .fondo-web .carta-ux .carta-inicio .btn_mio:hover {
          background-color: #154b74;
          color: #ffffff;
          border: 2px solid #154b74; }

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0; }
  body section {
    /*sponsors*/ }
    body section .sponsors {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body section .sponsors .spon {
        margin: 1rem; } }

.parallax-carreras, body section .paralax-1, body section .paralax-2, body section .paralax-3 {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  transition: all 1.5s ease;
  background-color: rgba(27, 95, 148, 0.5);
  opacity: 0.5; }
  .parallax-carreras h3, body section .paralax-1 h3, body section .paralax-2 h3, body section .paralax-3 h3 {
    top: 0;
    font-size: 50px;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-out;
    visibility: visible;
    text-align: center; }
  .parallax-carreras:hover, body section .paralax-1:hover, body section .paralax-2:hover, body section .paralax-3:hover {
    opacity: 1; }
    .parallax-carreras:hover h3, body section .paralax-1:hover h3, body section .paralax-2:hover h3, body section .paralax-3:hover h3 {
      background-color: rgba(27, 95, 148, 0.5);
      text-shadow: 0 0 2em #1b5f94, 0 0 0.2em #1b5f94; }

.titulos1, .cuerpo-diseño h1, body .fondo-graf h1, body .fondo-multi h1, body .fondo-web h1, .cuerpo-diseño .carta-ux .carta-inicio h2, body .fondo-graf .carta-ux .carta-inicio h2, body .fondo-multi .carta-ux .carta-inicio h2, body .fondo-web .carta-ux .carta-inicio h2, body .fondo-imagenInicio .carta-inicio h1, body .somos h1, body section h1 {
  color: #154b74;
  text-align: center;
  background-color: #f1ff70; }

.titulos2, body .somos .subtitulo, body section .subtitulo, body .descrip h3, body section div .modales h4 {
  text-align: center;
  background-color: black; }

.cuerpo-diseño, body .fondo-graf, body .fondo-multi, body .fondo-web {
  margin-top: 110px;
  margin-bottom: 150px;
  height: 737px; }
  .cuerpo-diseño h1, body .fondo-graf h1, body .fondo-multi h1, body .fondo-web h1 {
    font-size: 65px; }
  .cuerpo-diseño .carta-ux, body .fondo-graf .carta-ux, body .fondo-multi .carta-ux, body .fondo-web .carta-ux {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 200px; }
    .cuerpo-diseño .carta-ux .carta-inicio, body .fondo-graf .carta-ux .carta-inicio, body .fondo-multi .carta-ux .carta-inicio, body .fondo-web .carta-ux .carta-inicio {
      background-color: black;
      box-shadow: 10px 10px rgba(27, 95, 148, 0.5); }
      .cuerpo-diseño .carta-ux .carta-inicio h2, body .fondo-graf .carta-ux .carta-inicio h2, body .fondo-multi .carta-ux .carta-inicio h2, body .fondo-web .carta-ux .carta-inicio h2 {
        font-size: 35px;
        box-shadow: 3px 3px rgba(241, 255, 112, 0.5); }
      .cuerpo-diseño .carta-ux .carta-inicio .btn_mio, body .fondo-graf .carta-ux .carta-inicio .btn_mio, body .fondo-multi .carta-ux .carta-inicio .btn_mio, body .fondo-web .carta-ux .carta-inicio .btn_mio {
        background-color: #f1ff70;
        color: #154b74;
        border: 2px solid #f1ff70; }
        .cuerpo-diseño .carta-ux .carta-inicio .btn_mio:hover, body .fondo-graf .carta-ux .carta-inicio .btn_mio:hover, body .fondo-multi .carta-ux .carta-inicio .btn_mio:hover, body .fondo-web .carta-ux .carta-inicio .btn_mio:hover {
          background-color: #154b74;
          color: #ffffff;
          border: 2px solid #154b74; }

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0; }
  body section {
    /*sponsors*/ }
    body section .sponsors {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body section .sponsors .spon {
        margin: 1rem; } }

body {
  /*fondo-imagen inicio*/
  /*carreras*/
  /*animacion*/
  /*section*/
  /*section*/ }
  body .fondo-imagenInicio {
    margin-top: 110px;
    margin-bottom: 150px;
    width: 75%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    animation-name: animacion;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: normal;
    /*carta-inicio*/ }
    body .fondo-imagenInicio .carta-inicio {
      background-color: rgba(10, 10, 10, 0.1); }
      body .fondo-imagenInicio .carta-inicio h1 {
        font-size: 35px; }
      body .fondo-imagenInicio .carta-inicio .texto_carta {
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black; }
  body .carreras {
    margin-top: 50px;
    padding: 50px;
    background-color: black;
    text-align: center; }
    body .carreras h2 {
      border-bottom: #fce8cf solid 2px; }

@keyframes animacion {
  0% {
    background-image: url(../img/inicio/intro1.png); }
  25% {
    background-image: url(../img/inicio/intro2.png); }
  50% {
    background-image: url(../img/inicio/intro3.png); }
  75% {
    background-image: url(../img/inicio/intro4.png); }
  100% {
    background-image: url(../img/inicio/intro1.png); } }
  body section {
    margin-top: 50px; }
    body section .paralax-1 {
      background-image: url(../img/diseño/fondo-graf.png); }
    body section .paralax-2 {
      background-image: url(../img/diseño/fondo-multi.png); }
    body section .paralax-3 {
      background-image: url(../img/diseño/fondo-web.png); }
  body section {
    margin-top: 50px;
    /*sponsors*/ }
    body section .sponsors {
      display: flex;
      justify-content: center; }
      body section .sponsors .spon {
        margin: 1rem; }

/*body*/
@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0; }
  body .fondo-imagenInicio {
    width: 80%;
    background-image: url(../img/inicio/intro.png);
    animation-duration: 0s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0; }
  body section {
    /*sponsors*/ }
    body section .sponsors {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body section .sponsors .spon {
        margin: 1rem; } }

.parallax-carreras, body section .paralax-1, body section .paralax-2, body section .paralax-3 {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  transition: all 1.5s ease;
  background-color: rgba(27, 95, 148, 0.5);
  opacity: 0.5; }
  .parallax-carreras h3, body section .paralax-1 h3, body section .paralax-2 h3, body section .paralax-3 h3 {
    top: 0;
    font-size: 50px;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-out;
    visibility: visible;
    text-align: center; }
  .parallax-carreras:hover, body section .paralax-1:hover, body section .paralax-2:hover, body section .paralax-3:hover {
    opacity: 1; }
    .parallax-carreras:hover h3, body section .paralax-1:hover h3, body section .paralax-2:hover h3, body section .paralax-3:hover h3 {
      background-color: rgba(27, 95, 148, 0.5);
      text-shadow: 0 0 2em #1b5f94, 0 0 0.2em #1b5f94; }

.titulos1, .cuerpo-diseño h1, body .fondo-graf h1, body .fondo-multi h1, body .fondo-web h1, .cuerpo-diseño .carta-ux .carta-inicio h2, body .fondo-graf .carta-ux .carta-inicio h2, body .fondo-multi .carta-ux .carta-inicio h2, body .fondo-web .carta-ux .carta-inicio h2, body .fondo-imagenInicio .carta-inicio h1, body .somos h1, body section h1 {
  color: #154b74;
  text-align: center;
  background-color: #f1ff70; }

.titulos2, body .somos .subtitulo, body section .subtitulo, body .descrip h3, body section div .modales h4 {
  text-align: center;
  background-color: black; }

.cuerpo-diseño, body .fondo-graf, body .fondo-multi, body .fondo-web {
  margin-top: 110px;
  margin-bottom: 150px;
  height: 737px; }
  .cuerpo-diseño h1, body .fondo-graf h1, body .fondo-multi h1, body .fondo-web h1 {
    font-size: 65px; }
  .cuerpo-diseño .carta-ux, body .fondo-graf .carta-ux, body .fondo-multi .carta-ux, body .fondo-web .carta-ux {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 200px; }
    .cuerpo-diseño .carta-ux .carta-inicio, body .fondo-graf .carta-ux .carta-inicio, body .fondo-multi .carta-ux .carta-inicio, body .fondo-web .carta-ux .carta-inicio {
      background-color: black;
      box-shadow: 10px 10px rgba(27, 95, 148, 0.5); }
      .cuerpo-diseño .carta-ux .carta-inicio h2, body .fondo-graf .carta-ux .carta-inicio h2, body .fondo-multi .carta-ux .carta-inicio h2, body .fondo-web .carta-ux .carta-inicio h2 {
        font-size: 35px;
        box-shadow: 3px 3px rgba(241, 255, 112, 0.5); }
      .cuerpo-diseño .carta-ux .carta-inicio .btn_mio, body .fondo-graf .carta-ux .carta-inicio .btn_mio, body .fondo-multi .carta-ux .carta-inicio .btn_mio, body .fondo-web .carta-ux .carta-inicio .btn_mio {
        background-color: #f1ff70;
        color: #154b74;
        border: 2px solid #f1ff70; }
        .cuerpo-diseño .carta-ux .carta-inicio .btn_mio:hover, body .fondo-graf .carta-ux .carta-inicio .btn_mio:hover, body .fondo-multi .carta-ux .carta-inicio .btn_mio:hover, body .fondo-web .carta-ux .carta-inicio .btn_mio:hover {
          background-color: #154b74;
          color: #ffffff;
          border: 2px solid #154b74; }

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0; }
  body section {
    /*sponsors*/ }
    body section .sponsors {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body section .sponsors .spon {
        margin: 1rem; } }

body {
  /*somos*/
  /*section*/
  /*fieldset*/ }
  body .somos {
    margin-top: 110px;
    margin-bottom: 150px; }
    body .somos h1 {
      font-size: 65px; }
    body .somos .subtitulo {
      margin-bottom: 0%; }
  body section {
    margin-top: 50px;
    /*sponsors*/ }
    body section .sponsors {
      display: flex;
      justify-content: center; }
      body section .sponsors .spon {
        margin: 1rem; }
  body fieldset .form_contacto {
    margin-top: 50px;
    background-color: rgba(27, 95, 148, 0.5);
    border-radius: 10px;
    padding: 0px 20px 20px 20px;
    border: 3px #1b5f94 solid; }
    body fieldset .form_contacto div .btn_guardar {
      background-color: rgba(27, 95, 148, 0.5);
      color: #fce8cf;
      border: 2px solid #fce8cf; }
      body fieldset .form_contacto div .btn_guardar:hover {
        background-color: #fce8cf;
        color: #154b74;
        border: 2px solid #154b74; }

/*body*/
@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0; }
  body section {
    /*sponsors*/ }
    body section .sponsors {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body section .sponsors .spon {
        margin: 1rem; } }

.parallax-carreras, body section .paralax-1, body section .paralax-2, body section .paralax-3 {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  transition: all 1.5s ease;
  background-color: rgba(27, 95, 148, 0.5);
  opacity: 0.5; }
  .parallax-carreras h3, body section .paralax-1 h3, body section .paralax-2 h3, body section .paralax-3 h3 {
    top: 0;
    font-size: 50px;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-out;
    visibility: visible;
    text-align: center; }
  .parallax-carreras:hover, body section .paralax-1:hover, body section .paralax-2:hover, body section .paralax-3:hover {
    opacity: 1; }
    .parallax-carreras:hover h3, body section .paralax-1:hover h3, body section .paralax-2:hover h3, body section .paralax-3:hover h3 {
      background-color: rgba(27, 95, 148, 0.5);
      text-shadow: 0 0 2em #1b5f94, 0 0 0.2em #1b5f94; }

.titulos1, .cuerpo-diseño h1, body .fondo-graf h1, body .fondo-multi h1, body .fondo-web h1, .cuerpo-diseño .carta-ux .carta-inicio h2, body .fondo-graf .carta-ux .carta-inicio h2, body .fondo-multi .carta-ux .carta-inicio h2, body .fondo-web .carta-ux .carta-inicio h2, body .fondo-imagenInicio .carta-inicio h1, body .somos h1, body section h1 {
  color: #154b74;
  text-align: center;
  background-color: #f1ff70; }

.titulos2, body .somos .subtitulo, body section .subtitulo, body .descrip h3, body section div .modales h4 {
  text-align: center;
  background-color: black; }

.cuerpo-diseño, body .fondo-graf, body .fondo-multi, body .fondo-web {
  margin-top: 110px;
  margin-bottom: 150px;
  height: 737px; }
  .cuerpo-diseño h1, body .fondo-graf h1, body .fondo-multi h1, body .fondo-web h1 {
    font-size: 65px; }
  .cuerpo-diseño .carta-ux, body .fondo-graf .carta-ux, body .fondo-multi .carta-ux, body .fondo-web .carta-ux {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 200px; }
    .cuerpo-diseño .carta-ux .carta-inicio, body .fondo-graf .carta-ux .carta-inicio, body .fondo-multi .carta-ux .carta-inicio, body .fondo-web .carta-ux .carta-inicio {
      background-color: black;
      box-shadow: 10px 10px rgba(27, 95, 148, 0.5); }
      .cuerpo-diseño .carta-ux .carta-inicio h2, body .fondo-graf .carta-ux .carta-inicio h2, body .fondo-multi .carta-ux .carta-inicio h2, body .fondo-web .carta-ux .carta-inicio h2 {
        font-size: 35px;
        box-shadow: 3px 3px rgba(241, 255, 112, 0.5); }
      .cuerpo-diseño .carta-ux .carta-inicio .btn_mio, body .fondo-graf .carta-ux .carta-inicio .btn_mio, body .fondo-multi .carta-ux .carta-inicio .btn_mio, body .fondo-web .carta-ux .carta-inicio .btn_mio {
        background-color: #f1ff70;
        color: #154b74;
        border: 2px solid #f1ff70; }
        .cuerpo-diseño .carta-ux .carta-inicio .btn_mio:hover, body .fondo-graf .carta-ux .carta-inicio .btn_mio:hover, body .fondo-multi .carta-ux .carta-inicio .btn_mio:hover, body .fondo-web .carta-ux .carta-inicio .btn_mio:hover {
          background-color: #154b74;
          color: #ffffff;
          border: 2px solid #154b74; }

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0; }
  body section {
    /*sponsors*/ }
    body section .sponsors {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body section .sponsors .spon {
        margin: 1rem; } }

body section {
  margin-top: 110px;
  margin-bottom: 150px; }
  body section h1 {
    font-size: 65px; }
  body section .tarjetas {
    margin-top: 8%;
    margin-bottom: 8%; }
    body section .tarjetas .mi_tarjeta {
      background-color: rgba(27, 95, 148, 0.5); }
      body section .tarjetas .mi_tarjeta h4 {
        font-family: 'Outfit', sans-serif; }
      body section .tarjetas .mi_tarjeta .mi_inner {
        overflow: hidden; }
      body section .tarjetas .mi_tarjeta .mi_inner img {
        transition: all 1.5s ease;
        opacity: 0.5; }
        body section .tarjetas .mi_tarjeta .mi_inner img:hover {
          transform: scale(1.5);
          opacity: 1; }
      body section .tarjetas .mi_tarjeta .boton-rarrera {
        background-color: rgba(27, 95, 148, 0.5);
        color: #fce8cf;
        border: 2px solid #fce8cf; }
        body section .tarjetas .mi_tarjeta .boton-rarrera:hover {
          background-color: #fce8cf;
          color: #154b74;
          border: 2px solid #154b74; }

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0; }
  body .tarjetas {
    display: flex;
    flex-wrap: wrap; } }

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0; }
  body section {
    /*sponsors*/ }
    body section .sponsors {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body section .sponsors .spon {
        margin: 1rem; } }

.parallax-carreras, body section .paralax-1, body section .paralax-2, body section .paralax-3 {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  transition: all 1.5s ease;
  background-color: rgba(27, 95, 148, 0.5);
  opacity: 0.5; }
  .parallax-carreras h3, body section .paralax-1 h3, body section .paralax-2 h3, body section .paralax-3 h3 {
    top: 0;
    font-size: 50px;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-out;
    visibility: visible;
    text-align: center; }
  .parallax-carreras:hover, body section .paralax-1:hover, body section .paralax-2:hover, body section .paralax-3:hover {
    opacity: 1; }
    .parallax-carreras:hover h3, body section .paralax-1:hover h3, body section .paralax-2:hover h3, body section .paralax-3:hover h3 {
      background-color: rgba(27, 95, 148, 0.5);
      text-shadow: 0 0 2em #1b5f94, 0 0 0.2em #1b5f94; }

.titulos1, .cuerpo-diseño h1, body .fondo-graf h1, body .fondo-multi h1, body .fondo-web h1, .cuerpo-diseño .carta-ux .carta-inicio h2, body .fondo-graf .carta-ux .carta-inicio h2, body .fondo-multi .carta-ux .carta-inicio h2, body .fondo-web .carta-ux .carta-inicio h2, body .fondo-imagenInicio .carta-inicio h1, body .somos h1, body section h1 {
  color: #154b74;
  text-align: center;
  background-color: #f1ff70; }

.titulos2, body .somos .subtitulo, body section .subtitulo, body .descrip h3, body section div .modales h4 {
  text-align: center;
  background-color: black; }

.cuerpo-diseño, body .fondo-graf, body .fondo-multi, body .fondo-web {
  margin-top: 110px;
  margin-bottom: 150px;
  height: 737px; }
  .cuerpo-diseño h1, body .fondo-graf h1, body .fondo-multi h1, body .fondo-web h1 {
    font-size: 65px; }
  .cuerpo-diseño .carta-ux, body .fondo-graf .carta-ux, body .fondo-multi .carta-ux, body .fondo-web .carta-ux {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 200px; }
    .cuerpo-diseño .carta-ux .carta-inicio, body .fondo-graf .carta-ux .carta-inicio, body .fondo-multi .carta-ux .carta-inicio, body .fondo-web .carta-ux .carta-inicio {
      background-color: black;
      box-shadow: 10px 10px rgba(27, 95, 148, 0.5); }
      .cuerpo-diseño .carta-ux .carta-inicio h2, body .fondo-graf .carta-ux .carta-inicio h2, body .fondo-multi .carta-ux .carta-inicio h2, body .fondo-web .carta-ux .carta-inicio h2 {
        font-size: 35px;
        box-shadow: 3px 3px rgba(241, 255, 112, 0.5); }
      .cuerpo-diseño .carta-ux .carta-inicio .btn_mio, body .fondo-graf .carta-ux .carta-inicio .btn_mio, body .fondo-multi .carta-ux .carta-inicio .btn_mio, body .fondo-web .carta-ux .carta-inicio .btn_mio {
        background-color: #f1ff70;
        color: #154b74;
        border: 2px solid #f1ff70; }
        .cuerpo-diseño .carta-ux .carta-inicio .btn_mio:hover, body .fondo-graf .carta-ux .carta-inicio .btn_mio:hover, body .fondo-multi .carta-ux .carta-inicio .btn_mio:hover, body .fondo-web .carta-ux .carta-inicio .btn_mio:hover {
          background-color: #154b74;
          color: #ffffff;
          border: 2px solid #154b74; }

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0; }
  body section {
    /*sponsors*/ }
    body section .sponsors {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body section .sponsors .spon {
        margin: 1rem; } }

body .fondo-graf {
  background-image: url(../img/diseño/fondo-graf.png); }

body .fondo-multi {
  background-image: url(../img/diseño/fondo-multi.png); }

body .fondo-web {
  background-image: url(../img/diseño/fondo-web.png); }

body .descrip {
  background-color: black; }
  body .descrip h3 {
    font-size: 50px;
    border-bottom: #fce8cf solid 2px; }
  body .descrip .videodi {
    width: 65%; }

body section div .modales {
  margin-top: 50px;
  background-color: rgba(27, 95, 148, 0.5);
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
  border: 3px #1b5f94 solid; }
  body section div .modales button {
    background-color: rgba(27, 95, 148, 0.5);
    color: #fce8cf;
    border: 2px solid #fce8cf; }
    body section div .modales button:hover {
      background-color: #fce8cf;
      color: #154b74;
      border: 2px solid #154b74; }
  body section div .modales .modal-cuerpo {
    background-color: #154b74;
    color: #fce8cf; }

body .egresados {
  text-align: center; }
  body .egresados h3 {
    font-size: 50px; }
  body .egresados .trabajos {
    margin: 10px 10px 10px 10px;
    box-shadow: 8px 8px black; }

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0; }
  body section div div .modales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  body .descrip .videodi {
    width: 100%; } }
