@import "var";

.parallax-carreras{
    padding-top: 200px;
    padding-bottom: 200px; 
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;  
    transition: all 1.5s ease;
    background-color: $color1T;
    opacity: 0.5;
    h3{
        top: 0;
        font-size: 50px;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease-out;
        visibility: visible;
       text-align: center;
    } 
    &:hover{
        h3{
            background-color: $color1T;
            text-shadow:0 0 2em $color1, 0 0 0.2em $color1;
        }
        opacity: 1;

    }    
}

.titulos1{
    color: $color0;
    text-align: center;
    background-color: $color5;
}
.titulos2{
    text-align: center;
    background-color: $color7;
}

/*extend*/
.col-empresas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .empresa{
        font-size: 35px;
    }
    .boton{
        text-decoration: none;
        color: $color4;
        background-color: $color1;
        padding: 5px;
        margin: 10px;
        border-radius: 4px;
        transition: 0.5s;
        overflow: hidden;
        border:3px solid $color2;
        &:hover { 
            background-color: $color2;
            color: $color5;
            transform: scale(1.2);   
            font-family: 'Alegreya Sans bold', sans-serif ;
        }
     } 
}
