@import "var";
@import "extends";
@import "mixins";

body{
    .cuerpo{
        .cuestion1{
            @include formularios;
            display: flex;
            justify-content: space-between;
            align-content: center;
            flex-direction: column;
            width: 70%;
             gap: 10px;
            .btn_mio{
                 @include botones;
            }
        .legend{
            font-family: 'Outfit', sans-serif;
            font-size: 40px;
            text-align: center;
            margin-top: 20px;
            color: $color3;
        }

        }/*etiqueta cuestion1*/
    }/*etiqueta cuerpo*/
}/*etiqueta body*/