@import "var";
@import "extends";
@import "mixins";

body{
    .cuerpo{
        .primer_empresa{
            margin-top: 30px;
       }/*etiqueta primer_empresa*/
       .google_img{
        display: flex;
        justify-content: flex-end;
        align-items: center;
       }
       @extend .col-empresas;
    }/*etiqueta cuerpo*/
}/*etiqueta body*/

body{
    .cuerpo{
            .edreams{
                padding-top: 50px;
                border-top: 2px solid $color3;
                margin-top: 10px;
            }
            @extend .col-empresas;
            .edreams_img{
                order: 2;
            }
    }/*etiqueta cuerpo*/
}/*etiqueta body*/



